body{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h2{
    font-family: 'Barlow', sans-serif;
    font-weight: 600; 
}

.logo-text{
    color: white;
    padding-left: 15px;
}

table,.banner{
    width: 100%;
    /* padding-top: 12px; */
/*     padding-bottom: 80px; */
}

table{
    padding: 0;
}

li{
    display: inline;
   /*  padding: 16px; */
    list-style-type: none;
}

li>a {
    text-decoration: none;
    color: white;
    padding: 14px;
    border-radius: 20px;
}

a.active{
    background-color: white;
    color: black;
}

.banner-text{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    padding-bottom: 10vh;
    text-align: center;
    letter-spacing: 13px;
    padding-top: 80px;
    color: white;
}

.arrow{
    padding-bottom: 40vh;
}

.banner{
    background-image:url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

                /*  syles for the main content of the webpage  */

.info-container{
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.info-heading{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(213, 9%, 39%);
}

.heading-bold{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.info-text{
    text-align: center;
    padding: 20px 25vh;
}

.info-image{
  object-fit: contain;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100% */;
}

.photo-section{
    padding: 30vh 0 30vh 0 ;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.photo-text{
    text-align: center;
    padding: 30vh 0 0 0;
}

/*    testimonials section of the webpage */

.testimonial-heading{
    color:  hsl(210, 4%, 67%);
    letter-spacing: 8px;
    text-transform: uppercase;
}

.comment{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
}

.position{
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
}

.tag-name{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.profile{
    border-radius: 80px;
    width: 60px;
    height: 60px;
}

.multi-image{
    padding: 40vh 0 40vh 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

td>ul{
    display: inline;
}

/*     footer section of the webpage  */
a{
    margin: 20px 5px;
    padding: 5px;
}
ul>a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color:hsl(167, 40%, 24%) ;
}

td>ul>a{
    display: inline;
}

.fa-pinterest {
    background: sl(210, 4%, 67%);
    color: hsl(167, 40%, 24%);
  }

.fa-instagram {
    background: sl(210, 4%, 67%);
    color: hsl(167, 40%, 24%);
  }

  .fa-facebook {
    background: sl(210, 4%, 67%); 
    color: hsl(167, 40%, 24%);
  }

  .fa-twitter {
    background: sl(210, 4%, 67%);
    color: hsl(167, 40%, 24%);
  }

  .attribution{
    background-color: hsl(162, 78%, 61%);
    color: hsl(167, 40%, 24%); 
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
  }

  .attribution a{
    text-decoration: none;
  }